name: KingBuild
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle
      - name: Build APK
        run: ./gradlew assembleRelease
        env:
          APP_ID: ${{ secrets.APP_ID }}
          APP_HASH: ${{ secrets.APP_HASH }}
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: KingMessenger-APK
          path: "**/*.apk"
