name: KingBuild
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        
      - name: Set up JDK 17
        uses: actions/setup-java@8df10395026bd1b924562543152bd5fe0c3aa1c6 # v4.5.0
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew assembleRelease
        env:
          APP_ID: ${{ secrets.APP_ID }}
          APP_HASH: ${{ secrets.APP_HASH }}

      - name: Upload APK
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea23f8b3155c85013a1551d39 # v4.4.3
        with:
          name: KingMessenger-Release-APK
          path: app/build/outputs/apk/release/*.apk
